$ui-perrem: get('basefont');

@function strip-units($number){
  @return $number / ($number * 0 + 1);
}

/* stylelint-disable */
/***
fixpx
***/
@function fixpx($px) {
  @return ($px/strip-units($ui-perrem))+rem;
}

/***
color
基础色彩 $gray $green $red $orange $blue
按照$-light,$-dark分为2个级别，
$gray 会衍生更多级别（-dark,-darker,-darkest,-light,-lighter,-lightest）
***/
//gray
$gray: gray;
$gray-dark: darken($gray, 10%) !default;
$gray-darker: darken($gray, 20%) !default;
$gray-darkest: darken($gray, 30%) !default;
$gray-light: lighten($gray, 30%) !default;
$gray-lighter: lighten($gray, 35%) !default;
$gray-lightest: lighten($gray, 45%) !default;

//green
$green-light: #62d787;
$green: #50b154;
$green-dark: #119717;

//red
$red-light: #fb5d6c;
$red: #ff2742;
$red-dark: #e6344a;

//orange
$orange-light: #ffc775;
$orange: #feb244;
$orange-dark: #ff6004;

//blue
$blue-light: #6dcff6;
$blue: #4acdff;
$blue-dark: #0cb9fb;

// primary
$primary-light: get('primary.light');
$primary: get('primary.normal');
$primary-dark: get('primary.dark');


//== Font-size
/***
字体 $font
按照大小分为6个级别（-big,-bigger,-biggest,-small,-smaller,-smallest）
//## Font, base on root screen = 640px  1rem = 24px.
***/
$font: fixpx(strip-units($ui-perrem) * 1); 
$font-big: fixpx(strip-units($ui-perrem) * 1.16); 
$font-bigger: fixpx(strip-units($ui-perrem) * 1.25); 
$font-biggest: fixpx(strip-units($ui-perrem) * 1.333); 
$font-small: fixpx(strip-units($ui-perrem) * .833); 
$font-smaller: fixpx(strip-units($ui-perrem) * .75); 
$font-smallest: fixpx(strip-units($ui-perrem) * .66); 

//==borderradius
/***
圆角 $radius
按照大小分为6个级别（-big,-bigger,-biggest,-small,-smaller,-smallest）
***/
$radius: fixpx(strip-units($ui-perrem) * .8);
$radius-big: fixpx(strip-units($ui-perrem) * 1);
$radius-bigger: fixpx(strip-units($ui-perrem) * 1.5);
$radius-biggest: fixpx(strip-units($ui-perrem) * 3);
$radius-small: fixpx(strip-units($ui-perrem) * .6);
$radius-smaller: fixpx(strip-units($ui-perrem) * .4);
$radius-smallest: fixpx(strip-units($ui-perrem) * .2);



